@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,300);
$blue: #2980b9;
$green: #2ecc71;
$darkGreen: #27ae60;
body {
  font-family: 'Open Sans', sans-serif;
}

.navbar {
  background-color: $blue;
  border-radius: 0px;
  height: 65px;
  .navbar-brand {
    line-height: 3rem;
    font-size: 2rem;
    font-weight:bold;
    a {
        color: white;
        &:hover{
          color: white;
          text-decoration: none;
        }
        &:active, &:focus {
         text-decoration: none;

        }
    }
  }
  .welcome {
    line-height: 3rem;
    color: white;
    float: right;
    padding: 15px;
    button {
      margin-left: 15px;
      background-color: $green;
      border:none;
      &:hover {
        background-color: $darkGreen;
      }
    }
  }
  .signin {
    line-height: 3rem;
    float: right;
    padding: 15px;
    button {
      background-color: $green;
      border:none;
      &:hover {
        background-color: $darkGreen;
      }
    }
  }
}

.game-container {

  .word-container {
    overflow: hidden;
    position: relative;
    height: 500px;
    border: 1px solid black;
    border-bottom: none;
    .word {
      position:absolute;
      margin: auto;
      width: 100%;
      padding: 50px 0;
      text-align: center;
      font-size: 2rem;
      background-image: url('../img/alien.png');
      background-position: center center;
      background-repeat: no-repeat;
      background-size: 150px;
      transition: all 10s linear;
    }
    .translate {
      top: -100px;
      position: relative;
    }
    .btn {
      position: relative;
      top: 45%;
      width: 200px;
      font-size: 3rem;
      margin: auto;
      display: block;
      background-color: $green;
      border:none;
      &:hover {
        background-color: $darkGreen;
      }
    }
    .game-over {
      width: 50%;
      display: block;
      margin: 150px auto;
      .status {
        font-size: 5rem;
        text-align: center;
      }
      .score {
        text-align: center;
        font-size: 7rem;
      }
      .btn {
        font-size: 2rem;
        color: white;
      }
    }
  }
  .shooter {
    width: 100%;
    input {
      width: 100%;
      border: 1px solid black;
      text-align: center;
      line-height: 4rem;
      font-size: 2rem;
      &:focus {
        outline: none;
      }
    }
  }
}

.scores-container {
  .score {
    margin: 50px 0;
    width: 100%;
    font-size: 5rem;
    text-align: center;
  }
  .highscore-container {

    h4 {
      font-size: 2rem;
      text-transform: uppercase;
      font-weight: bold;
      letter-spacing: 2px;
      line-height: 4rem;
      background-color: $blue;
      color: white;
      text-align: center;
      margin-bottom: 0px;
    }
    .highscore {
      border-left: 1px solid #eee;
      border-right: 1px solid #eee;
      .name {
        font-size: 2rem;
        line-height: 3rem;
      }
      .number {
        text-align: center;
        font-size: 2.5rem;
      }
      &:nth-child(2n){
        background-color: #eee;
      }
    }
  }
}

.actions-container {
  .btn {
    width: 200px;
    font-size: 3rem;
    margin: 50px auto 0 auto;
    display: block;
    background-color: $green;
    border:none;
    &:hover {
      background-color: $darkGreen;
    }
  }
}


/* Sign in page */

.users {
  h2 {
    font-size: 4rem;
  }
  p {
    font-size: 1.8rem;
  }
  .sign-in {
    label {
      font-size: 1.8rem;
      line-height: 3rem;
      font-weight: bold;
      display: block;
    }
    input {
      width: 50%;
      line-height: 3rem;
      display: block;
      text-align: center;
    }
    button {
      width: 50%;
      margin-top: 15px;
      line-height: 2.5rem;
      display: block;
      background-color: $green;
      border:none;
      &:hover {
        background-color: $darkGreen;
      }
    }
  }
}
